/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 356px) {

    /* form */
    .form-section {
        padding: 10px 10px;
        margin: 0px 30px;
    }

    .form-submit-btn {
      
        font-weight: bold;
        font-size: 16px;
    }

    /* userProfile */
    .userProfile {
        border-right: 0px;
        padding: 25px;
    }

    .userForm {
        padding: 25;
    }

    

 
 



}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  

    .section-header {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    /* form */
    .form-section {
        background: #FAF8F8;
        padding: 81px 89px;
        margin: 0px 123px;
    }

    .form-submit-btn {
       
        background: linear-gradient(180deg, #373F41 99.99%, #EC31F0 100%);
        box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
      
        font-weight: bolder;
        
    }

    .category-banner {
        
        height: 250px;
        
    }

    .search-bar {
        margin: 60px 0px;
        /* border: 2px solid red; */
    }
    /* userProfile */
    .userProfile {
        border-right: 3px solid #E6E6E6;
        padding: 100px 60px;
    }

    .userForm {
        padding: 100px 60px;
    }

    .userName {
        font-weight: 700;
        font-size: 22px;
    }

    .userTitle {
        font-weight: 700;
        font-size: 20px;
    }

  
 
 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

   
    .search .fa-search {
        margin-right: 15px;
        position: absolute;
        top: 38%;
        left: 15px;
    
    }
    .search button, 
    .search input {
        height: 50px;
    }
    #site-header-logo {
        width: auto;
        padding: 0;
        margin-right: 30px;
        height: 80px;
    }
    
    #site-header-logo img {
        height: 95px;
    }
    .footer-info img {
        width: 100px;
    }
    .section-header {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .category-banner {
        
        height: 300px;
    }
    .search-bar {
        margin: 70px 0px;
        /* border: 2px solid red; */
    }
       
    /* user profile */
    .userProfile {
        border-right: 3px solid #E6E6E6;
        padding: 100px 50px;
    }

    .userForm {
        padding: 100px 50px;
    }

   


 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
    .search-bar {
        margin: 90px 0px;
        /* border: 2px solid red; */
    }
    .section-header {
        margin-top: 80px;
        margin-bottom: 50px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}